*.iml
.gradle
/mobile/local.properties
/mobile/.idea/workspace.xml
/mobile/.idea/libraries
.DS_Store
/mobile/build
/mobile/captures
.externalNativeBuild
*/.directory
*/node_modules/*
/server/.tscache
/server/mongodb
*.baseDir.ts*
