*.iml
.gradle
/mobile/.idea/
/mobile/local.properties
.DS_Store
/mobile/build
/mobile/captures
.externalNativeBuild
*/.directory
*/node_modules/*
/server/.tscache
/server/mongodb
/server/db
/server/node_modules
*.baseDir.ts*
